<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Ahmet Topak</title>
        <style>
            body {
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #f0f0f0;
            }
            video {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>

         <a href="/video_feed"> Goto Video</a>
    <!--    <video id="video" autoplay playsinline controls></video>-->
    <!--    <script>-->
    <!--        // Tarayıcı boyutları değiştikçe video çözünürlüğünü güncelle-->
    <!--        window.onresize = function() {-->
    <!--            const video = document.getElementById('video');-->
    <!--            const width = window.innerWidth;-->
    <!--            const height = window.innerHeight;-->
    <!--            video.src = `/video_feed?width=${width}&height=${height}`;-->
    <!--        };-->
    <!--        // Sayfa yüklendiğinde video çözünürlüğünü ayarla-->
    <!--        window.onload = function() {-->
    <!--            window.onresize();-->
    <!--        };-->
    <!--    </script>-->
    </body>
</html>
